In [40]:
#Dependencies and api_keys
import requests
from pprint import pprint
from config import census_key
import json
import pandas as pd

In [41]:

census_test = requests.get('https://api.census.gov/data/2013/acs/flows?get=MOVEDIN,GEOID2,GEOID1,MOVEDNET,MOVEDOUT,FULL2_NAME,FULL1_NAME&for=county:*&in=state:06&key='+census_key).json()

        
census_df = pd.DataFrame(census_test)
headers = census_df.iloc[0]
census_df = census_df.iloc[1:]
census_df = census_df.rename(columns = headers)
census_df.fillna(0,inplace=True)
census_df.sample(5)

,MOVEDIN,GEOID2,GEOID1,MOVEDNET,MOVEDOUT,FULL2_NAME,FULL1_NAME,state,county
18668,0,50007,06087,-11,11,"Chittenden County, Vermont","Santa Cruz County, California",06,087
142,194,12086,06001,-96,290,"Miami-Dade County, Florida","Alameda County, California",06,001
15687,12,3400557510,06075,12,0,"Pemberton township, Burlington County, New Jersey","San Francisco County, California",06,075
19199,16,06033,06095,-92,108,"Lake County, California","Solano County, California",06,095
14082,12,40051,06073,12,0,"Grady County, Oklahoma","San Diego County, California",06,073

In [42]:
county_lookup = pd.read_csv("./quandl_convert.csv")
county_lookup.head()

                         FULL1_NAME  County
0  Abbeville County, South Carolina    1795
1          Acadia County, Louisiana    2166
2         Accomack County, Virginia    1694
3                 Ada County, Idaho    1203
4                Adair County, Iowa    2546

In [47]:
county_merge = census_df.head().merge(county_lookup,on="FULL1_NAME")
county_merge = county_merge.count()

In [48]:
zil_output = pd.read_csv('./zillow_output.csv')
zil_output

zil_census_merge = county_merge.merge(zil_output,on="County")
zil_census_merge

AttributeError: 'Series' object has no attribute 'merge'