In [ ]:
! pip install quandl

In [1]:
#Dependencies and api_keys
import requests
from pprint import pprint
from config import quandl_key
import json
import pandas as pd

#API That Pulls Data From Zillow Monthly
#API Doc https://www.quandl.com/data/ZILLOW-Zillow-Real-Estate-Research/documentation/data-organization
#Register for account to get API Key (found on your profile)
import quandl

In [2]:
county_df = pd.read_csv('./quandl_convert.csv')
county_df.head()

                             COUNTY  CODE
0  Abbeville County, South Carolina  1795
1          Acadia County, Louisiana  2166
2         Accomack County, Virginia  1694
3                 Ada County, Idaho  1203
4                Adair County, Iowa  2546

In [3]:
#Set API Key
quandl.ApiConfig.api_key = quandl_key

###EXAMPLE PULL####

#Pull Table (DF?) Based On Code(ZILLOW/search-type[Z for zip-code]|search-value[94303]|_|
#type-of-value(ex.home-value-index, find list of options in documentation)
quandl_df = quandl.get('ZILLOW/CO2166_ZHVIAH',start_date = '2009-06-30', end_date = '2009-06-30', column_index='1')
quandl_df.head()

              Value
Date
2009-06-30  75900.0

API INFORMATION PULL

1) Loop through list of counties and compile into single dataframe for measure_1 date

2) Repeat for measure_2 date

3) Merge data and subtract 2 from 1 to get difference

In [6]:
###CONTROLS###
measure_1 = '2009-06-30'
measure_2 = '2015-06-30'

#What we are pulling (see output table in next cell)
zil_code = 'ZHVIAH'

In [8]:
zil_code_table = pd.read_csv("./quandl options.csv")
#zil_code_table

In [24]:
#Loop for first measure
###TAKES 30 MINUTES###

zil_df = pd.DataFrame()
row = 0

for county in county_df["CODE"]:
    #creates county identifier column

    #exception handling because not all counties have information
    try:
        zil_temp = quandl.get('ZILLOW/CO'+str(county)+'_'+zil_code, column_index='1',start_date = measure_1, end_date = measure_1)
        zil_temp["County"] = county
        
        zil_df = zil_df.append(zil_temp,ignore_index = True,sort=True)
    
    except:
        zil_df
        
zil_df.head()

   County     Value
0    2166   75900.0
1    1694  150831.0
2    1203  191200.0
3    2200   84200.0
4     108  167600.0

In [29]:
print(zil_df.count())

County    2024
Value     2024
dtype: int64

In [25]:
#Loop for second measure

zil_df2 = pd.DataFrame()
row = 0

for county in county_df["CODE"]:
    #creates county identifier column

    #exception handling because not all counties have information
    try:
        zil_temp = quandl.get('ZILLOW/CO'+str(county)+'_ZHVIAH', column_index='1',start_date = measure_2, end_date = measure_2)
        zil_temp["County"] = county
        
        zil_df2 = zil_df2.append(zil_temp,ignore_index = True,sort=True)
    
    except:
        zil_df2
        
zil_df2.head()

   County     Value
0    2166   86100.0
1    1694  142920.0
2    1203  204300.0
3    2200   73000.0
4     108  241000.0

In [31]:
#Merge Results

zil_merge = zil_df.merge(zil_df2,on="County",suffixes=["_measure_1","_measure_2"])
zil_merge.head()

   County  Value_measure_1  Value_measure_2
0    2166          75900.0          86100.0
1    1694         150831.0         142920.0
2    1203         191200.0         204300.0
3    2200          84200.0          73000.0
4     108         167600.0         241000.0

In [20]:
#add difference column
zil_merge["Difference"] = zil_merge["Value_measure_2"] - zil_merge["Value_measure_1"]
zil_merge.head()

   County  Value_measure_1  Value_measure_2  Difference
0    2166          75900.0          86100.0     10200.0
1    1694         150831.0         142920.0     -7911.0
2    1203         191200.0         204300.0     13100.0
3    2200          84200.0          73000.0    -11200.0
4     108         167600.0         241000.0     73400.0

In [21]:
#save output to csv which will feed into census-zillow merging script
zil_merge.to_csv("./zillow_output.csv")